p {
    margin:5px;
}

.footer {
font-size: 10px;
font-family: 'Arial'
}

.new-tab {
    background-image:url(../assets/images/new_tab.gif) !important;
}

.tabs {
    background-image:url(../assets/images/tabs.gif ) !important;
}
